<div class="button-div-class">
  <a
    data-theme-block-id="{{ block.id }}"
    class="theme-block-button {{ block.settings.button_type }} {% if block.settings.button_url == blank %} no-url {% endif %} {% if block.settings.disable_hover %} no-hover {% endif %}"
    href="{{ block.settings.button_url }}"
    target="_blank">
    {{ block.settings.button_text }}
  </a>
</div>

{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Label",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button Type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "tertiary",
            "label": "Tertiary"
          }
        ],
        "default": "primary"
      },
      {
        "type": "checkbox",
        "id": "disable_hover",
        "label": "Disable Hover Effect",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}