<div class="theme-blocks">

    <p class="text"></p>
        {{ block.settings.text }}
    </p>

    {% comment %} For Nested Block {% endcomment %}
    {% content_for 'blocks' %}
</div>

{% comment %} 

@app : App Block
@theme : Theme Block
 
{% endcomment %}

{% schema %}
{
  "name": "Text",
  "blocks": [{"type": "@app"}, {"type": "@theme"}],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Some Example Text"
    }
  ],
  "presets":[{
      "name": "Test"
    }]
}
{% endschema %}
