<p class="text">
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Some Example Text"
    }
  ],
  "presets":[{
      "name": "Test"
    }]
}
{% endschema %}
