<div class="theme-block-section">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Theme Block Section",
  "blocks": [{"type": "@theme"}],
  "presets": [{
    "name": "Theme Block"
  }]
}
{% endschema %}
