<div class="theme-block-section {% if section.settings.content_alignment == 'center' %} centered-content {% endif %}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Theme Block Section",
  "blocks": [{"type": "@theme"}],
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "normal"
    }
  ],
  "presets": [{
    "name": "Theme Block"
  }]
}
{% endschema %}
