<div 
  class="theme-block-section
  {% if section.settings.content_alignment == 'center' %} centered-content {% endif %}
  {% if section.settings.background_image != blank %} background-image-section {% endif %}"
  style="
  {% if section.settings.background_color %} background-color: {{section.settings.background_color}} {% endif %} 
  {% if section.settings.background_image != blank %}
    background-image: url('{{ section.settings.background_image | image_url: width: 800 }}'); background-size: cover; background-position: center; background-repeat: no-repeat;
    {% endif %}
  {% if section.settings.section_height == '80vh' %}height: 80vh;
  {% elsif section.settings.section_height == '100vh' %}height: 100vh;
  {% endif %}"
>
  {% content_for 'blocks' %}
</div>


{% schema %}
{
  "name": "Theme Block Section",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "normal"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section Height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "100vh",
          "label": "100vh"
        },
        {
          "value": "80vh",
          "label": "80vh"
        }
      ],
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Theme Block"
    }
  ]
}

{% endschema %}
