.theme-block-button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: semibold;
    text-transform: capitalize;
    transition: background-color 0.3s, color 0.3s;
}

.theme-block-button:hover{
    text-decoration: none;
    cursor: pointer;
}

.theme-block-button.primary {
    background-color: #0B60B0;
    color: white;
    border: 1px solid #0B60B0;
}

.theme-block-button.primary:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}

.theme-block-button.secondary {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}

.theme-block-button.secondary:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}

.theme-block-button.tertiary {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
 
}

.theme-block-button.tertiary:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}