/* Section Classes */

.theme-block-section {
    padding: 15px;
    width: 100%;
    background-color: bisque;
}

.theme-block-section.centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Button Block */
.button-div-class{
    width: 100%;
}

.theme-block-button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center; 
    font-weight: semibold;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: background-color 0.3s, color 0.3s;
}



/* Mobile */
/* @media (max-width: 500px) {
    .theme-block-button {
        padding: 10px 15px;
    }
}
*/

/* Laptop */
@media (min-width: 768px) {

    .shopify-block[id*="button"] {
        display: inline-block;
    }
    .button-div-class .theme-block-button{
        width: 200px;
        text-decoration: none;
        display: block;
    }

}

/* Desktop */
@media (min-width: 1024px) {
    .theme-block-button{
         
    }
}

.theme-block-button:hover{
    text-decoration: none;
    cursor: pointer;
}

.theme-block-button.primary {
    background-color: #0B60B0;
    color: white;
    border: 1px solid #0B60B0;
}

.theme-block-button.primary:hover {
    background-color: transparent;
    color: #064783;
    border: 1px solid #064783;
}

.theme-block-button.secondary {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}

.theme-block-button.secondary:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}

.theme-block-button.tertiary {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
 
}

.theme-block-button.tertiary:hover {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}

/* Styling when no URL is present */
.theme-block-button.no-url {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #ffffff;
    border: 1px solid #cccccc;
    pointer-events: none;
}

.theme-block-button.no-url:hover {
    background-color: #cccccc;
    color: #ffffff;
    border: 1px solid #cccccc;
}


/* Remove hover effect but keep the color */
.theme-block-button.primary.no-hover:hover {
    background-color: #0B60B0;
    color: white;
    border: 1px solid #0B60B0;
}

.theme-block-button.secondary.no-hover:hover {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}

.theme-block-button.tertiary.no-hover:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}