/* Section Classes */

.theme-block-section {
    padding: 15px;
    width: 100%;
    background-color: bisque;
}

.theme-block-section.centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Button Block */
.button-div-class{
    width: 100%;
}

.theme-block-button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center; 
    font-weight: semibold;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: background-color 0.3s, color 0.3s;
}

/* Mobile */
/* @media (max-width: 500px) {
    .theme-block-button {
        padding: 10px 15px;
    }
}
*/

/* Laptop */
@media (min-width: 768px) {

    .shopify-block[id*="button"] {
        display: inline-block;
    }
    .button-div-class .theme-block-button{
        width: 200px;
        text-decoration: none;
            color: inherit;
            display: block;
    }

}

/* Desktop */
@media (min-width: 1024px) {
    .theme-block-button{
         
    }
}

/* .theme-block-button:hover{
    text-decoration: none;
    cursor: pointer;
} */

.theme-block-button.border-radius {
    border-radius: 5px;
}

.theme-block-button.primary {
    background-color: #0B60B0;
    color: white;
    border: 1px solid #0B60B0;
}

.theme-block-button.primary:hover {
    background-color: transparent;
    color: #0B60B0;
    border: 1px solid #0B60B0;
}

.theme-block-button.secondary {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}

.theme-block-button.secondary:hover {
    background-color: transparent;
    color: #181C14;
    border: 1px solid #181C14;
}


/* Styling when no URL is present */
.theme-block-button.no-url {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #ffffff;
    border: 1px solid #cccccc;
}

/* Styling for outline buttons */
.theme-block-button.primary.outline-button {
    background-color: transparent;
    color: #0B60B0;
}

.theme-block-button.primary.outline-button:not(.no-hover):hover {
    box-shadow: inset 0px 0px 1px 1px #0B60B0;
    transition: ease-in-out 0.1s;
}

.theme-block-button.secondary.outline-button {
    background-color: transparent;
    color: #181C14;
}

.theme-block-button.secondary.outline-button:not(.no-hover):hover {
    box-shadow: inset 0px 0px 1px 1px #181C14;
    transition: ease-in-out 0.1s;
}

/* Remove hover effect but keep the color */
.theme-block-button.primary.no-hover:not(.outline-button):hover {
    background-color: #0B60B0;
    color: white;
    border: 1px solid #0B60B0;
}

.theme-block-button.secondary.no-hover:not(.outline-button):hover {
    background-color: #181C14;
    color: white;
    border: 1px solid #181C14;
}